#+STARTUP: indent
#+CATEGORY: PathOfExile
#+SETUPFILE: poeOrgResources

* Path Of Exile Builds
Collection of Builds for Path Of Exile.

** Deadeye Fireball Searing Totem Build
:PROPERTIES:
:LEAGUE: Fall of Oriath 3.0
:BUILD: Spell, Totem
:END:

Late Game alternative is to go MoM for the mana nodes and use Cloak of Defiance for 50% damage taken to mana. In order to help this use Clear Mind Jewel for increased spell damage and mana regen when no mana is reserved.
Use searing bond for increased damage against bosses and difficult mobs.

*** Skill Tree
  Link:[[https://www.pathofexile.com/passive-skill-tree/AAAABAICAAHRBAcEswj0D6sRLREvFr8W8xmKGjgc3CL0JIsmPCaVJy8o-isKLJwvnTLRNZI6WDrYOuE8BTwtPV9Bh0SrRUdFfEWdSbFMs03jUEJSU1M1U1JUR1VLVa5Vxl3yYeJmVGpDbAttGXyDghCCm4LHg1-DzIPbhMWFe4w2jxqPppBVkyeXBpeVl5eX9Jo7muCbtZ7En9-hIqEvogCiQKZXpr6v67Q4tz64k7vjvOq-isBmwzrEotAf1abXz9i937DlGevu7DjtPO9874jv6_Af8kX0-Pk3-ej79f4K_o_-ug==][Tree]]

*** Gem Links

**** Head
[[Searing_Bond]] - [[Increased_Burning_Damage_Support]] - [[Minion_and_Totem_Elemental_Resistance_Support]] -[[Rapid_Decay_Support]]/[[Empower_Support]]

**** Chest

***** Aoe Setup
[[Fireball]] - [[Spell_Echo_Support]] - Immolate - [[Fire_Penetration_Support]] - [[Elemental_Focus_Support]] - [[Greater_Multiple_Projectiles_Support]]

***** Single Target Setup
[[Fireball]] - [[Spell_Echo_Support]] - Immolate - [[Fire_Penetration_Support]] - [[Elemental_Focus_Support]] -[[Slower_Projectiles_Support]]

**** Gloves
[[Orb_of_Storms]] - [[Curse_On_Hit_Support]] - [[Flammability]] -[[Summon_Flame_Golem]] /[[Summon_Lightning_Golem]] /[[Temporal_Chains]]

**** Boots
Arctich breah with gmp and deadeye chain will spread chill, and Ice bite in order to occasionally generate frenzy charges.
[[Cast_when_Damage_Taken_Support]] - [[Arctic_Breath]] - [[Greater_Multiple_Projectiles_Support]] -[[Ice_Bite_Support]]

**** Weapon

***** Mainhand
[[Lightning_Warp]] - [[Faster_Casting_Support]] -[[Less_Duration_Support]]

***** Offhand
[[Anger]] - [[Clarity]] -[[Enlighten_Support]]
If MoM then this setup:
[[Cast_when_Damage_Taken_Support]] - [[Immortal_Call]] -[[Increased_Duration_Support]]

*** Specific Equipment

**** Head
Essences of Horror Crafted Rare Helmet.

**** Chest

**** Gloves

**** Boots

**** Weapon


***** Mainhand
Doryanis catalyst

***** Offhand

**** Amulet

**** Rings
If MoM:
[[Praxis]]

**** Belt
[[Doryani's_Invitation_(Fire_Damage)]]

*** Jewels
2x Rolling Flames
#x Rare Jewels with life, Cast Speed, Ele Dmg, Fire Dmg.

** Example Build
:PROPERTIES:
:LEAGUE: Fall of Oriath 3.0
:BUILD: Melee, Totem
:END:

Just an empty template to show an empty build.
*** Skill Tree
  Link:

*** Gem Links
Delete as needed.

**** Head
1 - 2 - 3 - 4

**** Chest

***** Aoe Setup
1 - 2 - 3 - 4 - 5 - 6

***** Single target Setup
1 - 2 - 3 - 4 - 5 - 6

**** Gloves
1 - 2 - 3 - 4

**** Boots
1 - 2 - 3 - 4

**** Weapon

***** Two Hand
1 - 2 - 3 - 4 - 5 - 6

***** Mainhand
1 - 2 - 3

***** Offhand
1 - 2 - 3

*** Specific Equipment
Delete as needed.

**** Head

**** Chest

**** Gloves

**** Boots

**** Weapon

***** Two Hand

***** Mainhand

***** Offhand

**** Amulet

**** Rings

***** Ring Left

***** Ring Right

**** Belt

*** Jewels
